@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: aliceblue;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #161a22; }

/*----------------HEADER----------------*/
header {
  position: relative;
  background-color: #053650; }

.dpelicula {
  position: absolute;
  left: 33px;
  bottom: 30px;
  font-size: 1rem;
  font-weight: 600; }

h2,
h3 {
  font-weight: 600;
  margin: 2rem; }

.contspan {
  display: none;
  width: 54px; }

.logo {
  margin: 1rem; }

.lognav {
  display: none; }

.btnlogin {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 5rem; }
  .btnlogin__title h6 {
    margin-top: .5rem;
    font-weight: 800; }

.nav-item a {
  color: aliceblue;
  margin: 0.5rem;
  text-decoration: none;
  transition: color 0.2s; }
  .nav-item a:hover {
    color: #0098e9; }

.container-fluid {
  width: 100%; }

.navbar-toggler {
  border: none; }

.btn-outline-success {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0098e9;
  --bs-btn-hover-border-color: #0098e9;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00679d;
  --bs-btn-active-border-color: #00679d;
  --bs-btn-disabled-color: #00679d; }

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none; }

.nav-link:focus,
.nav-link:hover {
  color: #ffffff; }

#logo {
  margin-right: 0; }

.btn-primary {
  background-color: #0f5e89;
  border-color: #ffffff; }
  .btn-primary:hover {
    background-color: #0098e9;
    border-color: none;
    --bs-btn-hover-border-color: none; }

.btn {
  --bs-btn-focus-box-shadow: none; }

/*----------------MAIN----------------*/
main {
  background-color: #161a22;
  overflow: hidden; }

.parallax, .parallaxpeliculas, .parallaxseries, .parallaxestrenos, .parallaxdrstrg {
  height: 65vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 30px; }
  .parallaxpeliculas {
    background-image: url(../assets/img/Trend/parallaxpeliculas.png); }
  .parallaxseries {
    background-image: url(../assets/img/Trend/parallaxseries.png); }
  .parallaxestrenos {
    background-image: url(../assets/img/Trend/parallaxestrenos.png); }
  .parallaxdrstrg {
    background-image: url(../assets/img/Trend/parallaxdrstrg.png); }
  .parallax__div {
    position: absolute;
    top: 50%;
    left: 46%; }
    .parallax__div a {
      transition: .2s;
      color: #ffffffe7;
      text-decoration: none;
      padding: 10px;
      border: 0.2rem;
      border-style: solid;
      border-radius: 0.2rem; }
    .parallax__div a:hover {
      background-color: #0097e938; }

.btnvolver {
  background-image: url(../assets/img/btnup.png);
  background-size: 100%;
  background-color: #00669d6e;
  border-radius: 50%;
  left: 95%;
  top: 78%;
  position: fixed;
  z-index: 2;
  transition: 0.2s; }
  .btnvolver:hover {
    background-color: #0097e9be; }
  .btnvolver a {
    padding: 25px;
    float: left; }

.seccion {
  text-align: center; }
  .seccion h2 {
    margin: 2rem 0; }
  .seccion__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .seccion__article__div {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 1.5rem; }
      .seccion__article__div a img {
        border-radius: 0.3rem;
        transition: transform .2s; }
      .seccion__article__div a:hover img {
        transform: scale(1.2);
        filter: brightness(70%); }
      .seccion__article__div a:hover span {
        display: block;
        color: aliceblue;
        background-color: #0e0e0ec2; }
      .seccion__article__div--spanhover {
        display: none;
        position: absolute;
        left: 30%;
        bottom: 55%;
        padding: 0 1rem;
        border-style: solid;
        border-radius: 0.2rem;
        border-width: 2px; }
      .seccion__article__div h3 {
        font-family: "Kanit", sans-serif;
        font-size: 1rem; }

/*----------------NOTICIAS SEMANALES----------------*/
.secciongridart__seccion2 {
  display: grid;
  grid-template-areas: "seccion1 seccion1 seccion4" "seccion2 seccion3 seccion4";
  gap: 10px; }

.secciongridart__seccion__div2-1, .secciongridart__seccion__div2-2, .secciongridart__seccion__div2-3, .secciongridart__seccion__div2-4 {
  text-align: center;
  margin: 1em;
  background-color: #ffffff0a;
  border-radius: 20px;
  padding: 1rem; }
  .secciongridart__seccion__div2-1 img, .secciongridart__seccion__div2-2 img, .secciongridart__seccion__div2-3 img, .secciongridart__seccion__div2-4 img {
    display: block;
    margin: auto;
    width: 100%; }
  .secciongridart__seccion__div2-1 h3, .secciongridart__seccion__div2-2 h3, .secciongridart__seccion__div2-3 h3, .secciongridart__seccion__div2-4 h3 {
    text-align: center;
    margin-bottom: 1rem; }

.secciongridart__seccion__div2-1 {
  grid-area: seccion1; }
  .secciongridart__seccion__div2-1 iframe {
    display: block;
    margin: auto;
    width: 60%; }

.secciongridart__seccion__div2-2 {
  grid-area: seccion2; }

.secciongridart__seccion__div2-3 {
  grid-area: seccion3; }

.secciongridart__seccion__div2-4 {
  grid-area: seccion4; }

.secciongridart .parallax__div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #053650;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
  height: 65vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  padding: 50px 30px; }
  .secciongridart .parallax__div2 h3 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    border: solid 2px white;
    border-radius: 10px; }

/*----------------ACTORES----------------*/
.secciongridart h2 {
  text-align: center;
  margin: 1rem; }

.secciongridart__seccion {
  display: grid;
  align-items: center;
  grid-row-gap: 10px;
  width: 80%;
  margin: auto; }
  .secciongridart__seccion__div1 h3 {
    margin: 0 0 0 1rem; }
  .secciongridart__seccion__div1, .secciongridart__seccion__div2 {
    margin: 1rem;
    border-style: solid;
    border-radius: 20px;
    background-color: #ffffff0a; }
  .secciongridart__seccion__div1 {
    border-color: #161a22 #161a22 #161a22 white; }
  .secciongridart__seccion__div2 {
    border-color: #161a22 white #161a22 #161a22; }
    .secciongridart__seccion__div2 h3 {
      text-align: right;
      margin: 0 1rem 0 0; }
  .secciongridart__seccion__div2-1 p {
    font-family: "Kanit", sans-serif;
    font-weight: 200; }
  .secciongridart__seccion__div2-2 p {
    font-family: "Kanit", sans-serif;
    font-weight: 200; }
  .secciongridart__seccion__div2-3 p {
    font-family: "Kanit", sans-serif;
    font-weight: 200; }
  .secciongridart__seccion__div2-4 p {
    font-family: "Kanit", sans-serif;
    font-weight: 200; }
  .secciongridart__seccion__div1 p,
  .secciongridart__seccion__div2 p {
    font-family: "Kanit", sans-serif;
    font-weight: 200; }
  .secciongridart__seccion__div__imp1 {
    align-items: center;
    display: flex;
    text-align: justify;
    margin: 0 1rem 1rem 1rem; }
    .secciongridart__seccion__div__imp1 img {
      margin: 1rem 1rem 1rem 0;
      border-radius: 50%;
      border: solid 2px white; }
  .secciongridart__seccion__div__imp2 {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    text-align: justify;
    margin: 0 1rem 1rem 1rem; }
    .secciongridart__seccion__div__imp2 img {
      margin: 1rem 0 1rem 1rem;
      border-radius: 50%;
      border: solid 2px white; }

/*----------------CONTACTO----------------*/
.maincontact__iframe iframe {
  height: 550px;
  width: 94%;
  margin: 1rem;
  border-radius: 10px; }

.maincontact__iframe h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem; }

.maincontact__iframe p {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center; }

/*----------------NOSOTROS----------------*/
.nosotros {
  margin: 1rem; }
  .nosotros__seccion {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center; }
    .nosotros__seccion img {
      width: 50%; }
    .nosotros__seccion__historia {
      margin: 2rem; }
      .nosotros__seccion__historia h2 {
        text-align: center; }
      .nosotros__seccion__historia p {
        text-align: justify; }
  .nosotros__equipo {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0; }
    .nosotros__equipo p {
      width: 70%;
      margin: auto;
      text-align: justify; }
    .nosotros__equipo div img {
      width: 40%; }
    .nosotros__equipo__integrantes {
      display: flex;
      column-gap: 5rem;
      justify-content: center; }
      .nosotros__equipo__integrantes1, .nosotros__equipo__integrantes2 {
        display: flex;
        column-gap: 5rem; }
        .nosotros__equipo__integrantes1 div div, .nosotros__equipo__integrantes2 div div {
          width: 165px;
          height: 165px;
          background-size: contain; }

.jorgehover {
  background-image: url(../assets/img/Nosotros/Jorge.png); }
  .jorgehover:hover {
    background-image: url(../assets/img/Nosotros/Jorge2.png); }

.antoniahover {
  background-image: url(../assets/img/Nosotros/Antonia.png); }
  .antoniahover:hover {
    background-image: url(../assets/img/Nosotros/Antonia2.png); }

.patriciahover {
  background-image: url(../assets/img/Nosotros/Patricia.png); }
  .patriciahover:hover {
    background-image: url(../assets/img/Nosotros/Patricia2.png); }

.carloshover {
  background-image: url(../assets/img/Nosotros/Carlos.png); }
  .carloshover:hover {
    background-image: url(../assets/img/Nosotros/Carlos2.png); }

/*----------------PELICULAS----------------*/
.infomovie {
  margin: 1rem; }
  .infomovie h2 {
    margin: 2rem 0;
    text-align: center;
    font-size: 2.5rem; }
  .infomovie h3 {
    margin: 1rem 0; }
  .infomovie p {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    margin: 1rem;
    text-align: justify; }

.sectiontbl {
  text-align: center;
  margin: 1rem; }
  .sectiontbl__table {
    margin: auto;
    width: 80%;
    border-collapse: inherit; }
    .sectiontbl__table tr th {
      background-color: #00679d; }
    .sectiontbl__table tr td {
      font-family: "Kanit", sans-serif;
      font-weight: 400;
      background-color: #333333; }

.trailer {
  margin: 1rem 1rem 0 1rem; }
  .trailer h3 {
    margin: 1rem 0; }
  .trailer h4 {
    margin: 2rem 0; }
  .trailer div {
    text-align: center; }
  .trailer iframe {
    margin-bottom: 2rem;
    width: 40%; }

/*----------------FOOTER----------------*/
footer {
  background-color: #053650;
  margin-top: 1rem; }

.socialmedia {
  margin: 0.8rem;
  text-align: center; }
  .socialmedia ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; }
    .socialmedia ul li {
      margin: 0 0.8em;
      display: inline-block;
      justify-items: center; }
  .socialmedia__li ul li {
    transition: 0.2s; }

.facebook,
.instagram,
.twitter,
a i {
  font-size: 20px;
  color: #ffffff; }
  .facebook:hover,
  .instagram:hover,
  .twitter:hover,
  a i:hover {
    color: #0098e9;
    transform: scale(1.1);
    transition: ease-in-out .1s; }

.contacto a,
.nosotros a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s; }

.copyright {
  text-align: center;
  font-weight: 100;
  background-color: #042b40;
  padding: 1rem; }

/*-----------------------CAROUSEL-------------------------*/
.seccion__article .owl-nav {
  font-size: 40px;
  margin-top: 0; }

.owl-nav button span {
  background: #41464b54;
  border-radius: 10px;
  color: inherit;
  border: none;
  padding: 0 50px;
  font: inherit; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none; }

.owl-nav button span:hover {
  background: #f8fafd54;
  border-radius: 10px; }

/*----------------MEDIA QUERYS-----------*/
@media screen and (max-width: 1200px) {
  /*----------------HEADER MEDIA-----------*/
  .logo {
    grid-area: logo;
    margin-bottom: 0; }
  /*----------------NOSOTROS----------------*/
  .nosotros .nosotros__seccion {
    width: 100%;
    align-items: center; }
  .nosotros__equipo__integrantes {
    flex-direction: column;
    align-items: center; } }

/*----------------MEDIA 991----------------*/
@media screen and (max-width: 991px) {
  /*----------------HEADER----------------*/
  .navbar-nav li {
    border-bottom: 1px solid white; }
  .navbar-nav .lineout {
    border-bottom: none; }
  .dpelicula {
    display: none; }
  #logo {
    background-image: url(/assets/img/logo_página.png);
    background-repeat: no-repeat;
    width: 112px;
    height: 112px; }
  #logo img {
    display: none; }
  .parallaxpeliculas {
    height: 45vh;
    background-attachment: inherit; }
  .parallaxseries {
    height: 45vh;
    background-attachment: inherit; }
  .parallaxestrenos {
    height: 45vh;
    background-attachment: inherit; }
  .parallax__div {
    display: none; }
  .btnvolver {
    left: 90%; }
  .lognav {
    display: block; }
  .btnlog {
    display: none; }
  .contspan {
    display: block; }
  .secciongridart__seccion2 {
    display: grid;
    grid-template-areas: "seccion1" "seccion2" "seccion3" "seccion4";
    gap: 10px; }
  .seccion__article .owl-nav {
    display: none; }
  .seccion__article__div a:hover span {
    display: none; }
  .seccion__article__div a:hover img {
    transform: none; }
  .input-group {
    margin: 1rem 0; } }

/*-----------------------MEDIA TABLET QUERY-------------------------*/
@media screen and (max-width: 768px) {
  /*----------------HEADER MEDIA TABLET-----------*/
  .logo {
    grid-area: logo;
    margin-bottom: 1rem; }
    .logo img {
      display: block;
      margin: auto; }
  /*----------------MAIN MEDIA TABLET-----------*/
  .parallax__div {
    display: none; }
  /*----------------PELICULA MEDIA TABLET-----------*/
  .trailer iframe {
    margin-bottom: 2rem;
    width: 100%; }
  /*----------------NOTICIAS MEDIA TABLET-----------*/
  .secciongridart__seccion__div2-1 iframe {
    display: block;
    margin: auto;
    width: 100%; }
  /*----------------NOTICIAS MEDIA TABLET-----------*/
  .secciongridart__seccion2 {
    display: grid;
    grid-template-areas: "seccion1" "seccion2" "seccion3" "seccion4";
    gap: 10px; }
  /*----------------FOOTER MEDIA TABLET----------------*/
  .socialmedia ul {
    flex-direction: column;
    row-gap: 10px; }
  .socialmedia__li ul {
    flex-direction: row;
    justify-content: center; }
  .contacto a .nosotros a {
    padding: 0 10px;
    text-align: center; } }

/*-----------------------MEDIA CEL QUERY-------------------------*/
@media screen and (max-width: 480px) {
  /*----------------MAIN MEDIA CEL----------------*/
  .parallaxpeliculas {
    height: 30vh;
    background-attachment: inherit; }
  .parallaxseries {
    height: 30vh;
    background-attachment: inherit; }
  .parallaxestrenos {
    height: 30vh;
    background-attachment: inherit; }
  .parallax__div {
    position: absolute;
    top: 40%;
    left: 30%; }
    .parallax__div a {
      color: #ffffff;
      background-color: #282828b6; }
  .seccion__article__div a:hover span {
    display: none; }
  /*----------------PELICULAS MEDIA CEL----------------*/
  .sectiontbl__table {
    width: 100%; }
  /*----------------ARTISTAS MEDIA CEL----------------*/
  .secciongridart h2 {
    display: block;
    margin: auto; }
  .secciongridart__seccion__div1, .secciongridart__seccion__div2 {
    margin: 1rem;
    border-style: solid;
    border-color: #161a22;
    border-radius: 20px;
    background-color: #ffffff0a; }
    .secciongridart__seccion__div1 h3, .secciongridart__seccion__div2 h3 {
      text-align: center;
      margin: 0 1rem; }
  .secciongridart__seccion__div__imp1, .secciongridart__seccion__div__imp2 {
    display: flex;
    flex-direction: column; }
    .secciongridart__seccion__div__imp1 img, .secciongridart__seccion__div__imp2 img {
      margin: auto; }
  /*------------NOTICIAS SEMANALES MEDIA CEL----------*/
  .parallax__div2 {
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px; }
    .parallax__div2 h3 {
      font-size: 1rem; }
  /*----------------NOSOTROS MEDIA CEL----------------*/
  .nosotros__seccion {
    flex-direction: column; }
    .nosotros__seccion img {
      width: 80%; }
  .nosotros__equipo__integrantes {
    flex-direction: column;
    row-gap: 20px;
    align-items: center; }
    .nosotros__equipo__integrantes1, .nosotros__equipo__integrantes2 {
      flex-direction: column;
      row-gap: 20px;
      align-items: center; }
  /*----------------FOOTER MEDIA CEL----------------*/
  .socialmedia ul {
    display: flex;
    flex-direction: column;
    gap: 10px; }
  .socialmedia__li ul {
    flex-direction: row;
    justify-content: center; } }
