@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap');
@import "../css/partials/variables";
@import "../css/partials/noticias";
@import "../css/partials/actores";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $fontkanit;
    font-weight: 600;
    font-size: 1.4rem;
    color: aliceblue;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: $bgmain;
}

/*----------------HEADER----------------*/

header {
    background-color: $azulhf;
}

h2,
h3 {
    font-weight: 600;
    margin: 2rem;
}

//.navbar-expand-lg {
//    width: 100%;
//}

.contspan {
    display: none;
    width: 54px;
}

.logo {
    margin: 1rem;
}

.lognav {
    display: none;
}

//login PC
.btnlogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 5rem;

    &__title h6 {
        margin-top: .5rem;
        font-weight: 800;
    }

}

.nav-item a {
    color: aliceblue;
    margin: 0.5rem;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
        color: $colorbtnin;
    }
}

.container-fluid {
    width: 100%;
}

.navbar-toggler {
    border: none;
}

.btn-outline-success {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0098e9;
    --bs-btn-hover-border-color: #0098e9;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00679d;
    --bs-btn-active-border-color: #00679d;
    --bs-btn-disabled-color: #00679d;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.nav-link:focus,
.nav-link:hover {
    color: #ffffff;
}

#logo {
    margin-right: 0;
}

.btn-primary {
    background-color: #0f5e89;
    border-color: #ffffff;

    &:hover {
        background-color: $colorbtnin;
        border-color: none;
        --bs-btn-hover-border-color: none;
    }
}

.btn {
    --bs-btn-focus-box-shadow: none;
}

/*----------------MAIN----------------*/

main {
    background-color: $bgmain;
    overflow: hidden;
}

.parallax {
    background-image: url(../assets/img/Trend/Slider.png);
    height: 65vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;

    &__div {
        position: absolute;
        top: 50%;
        left: 46%;

        & a {
            transition: .2s;
            color: #ffffffe7;
            text-decoration: none;
            padding: 10px;
            border: 0.2rem;
            border-style: solid;
            border-radius: 0.2rem;
        }

        & a:hover {
            background-color: #0097e938;
        }
    }
}

.btnvolver {
    background-image: url(../assets/img/btnup.png);
    background-size: 100%;
    background-color: #00669d6e;
    border-radius: 50%;
    left: 95%;
    top: 78%;
    position: fixed;
    z-index: 2;
    transition: 0.2s;

    &:hover {
        background-color: #0097e9be;
    }

    & a {
        padding: 25px;
        float: left;
    }
}

.seccion {
    text-align: center;

    & h2 {
        margin: 2rem 0;
    }

    &__article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__div {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 1.5rem;

            & a img {
                border-radius: 0.3rem;
                transition: transform .2s;
            }

            & a:hover img {
                transform: scale(1.2);
                filter: brightness(70%);
            }

            & a:hover span {
                display: block;
                color: aliceblue;
                background-color: #0e0e0ec2;
            }

            &--spanhover {
                display: none;
                position: absolute;
                left: 25%;
                bottom: 55%;
                padding: 0 1rem;
                border-style: solid;
                border-radius: 0.2rem;
                border-width: 2px;
            }

            & h3 {
                font-family: $fontkanit;
                font-size: 1rem;
            }
        }
    }
}

/*-----------------------CAROUSEL-------------------------*/

.seccion__article .owl-nav {
    font-size: 40px;
    margin-top: 0;
}

.owl-nav button span {
    background: #41464b54;
    border-radius: 10px;
    color: inherit;
    border: none;
    padding: 0 50px;
    font: inherit;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

.owl-nav button span:hover {
    background: #f8fafd54;
    border-radius: 10px;
}


/*----------------CONTACTO----------------*/

.maincontact__iframe {

    & iframe {
        height: 550px;
        width: 94%;
        margin: 1rem;
        border-radius: 10px;
    }

    & h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    & p {
        font-family: $fontkanit;
        font-weight: 400;
        margin-bottom: 2rem;
        text-align: center;

    }
}



 
       


/*----------------NOSOTROS----------------*/

.nosotros {
    margin: 1rem;

    &__seccion {
        font-family: $fontkanit;
        font-weight: 400;
        display: flex;
        width: 70%;
        margin: auto;
        align-items: center;

        & img {
            width: 50%;
        }

        &__historia {
            margin: 2rem;

            & h2 {
                text-align: center;
            }

            & p {

                text-align: justify;
            }
        }
    }

    &__equipo {
        font-family: $fontkanit;
        font-weight: 400;
        text-align: center;
        margin: 2rem 0;

        & p {
            width: 70%;
            margin: auto;
            text-align: justify;
        }

        & div img {
            width: 40%;
        }

        &__integrantes {
            display: flex;
            column-gap: 5rem;
            justify-content: center;

            &1,
            &2 {
                display: flex;
                column-gap: 5rem;

                & div div {
                    width: 165px;
                    height: 165px;
                    background-size: contain;
                }
            }
        }
    }
}

.jorgehover {
    background-image: url(../assets/img/Nosotros/Jorge.png);

    &:hover {
        background-image: url(../assets/img/Nosotros/Jorge2.png);
    }

}

.antoniahover {
    background-image: url(../assets/img/Nosotros/Antonia.png);

    &:hover {
        background-image: url(../assets/img/Nosotros/Antonia2.png);
    }
}


.patriciahover {
    background-image: url(../assets/img/Nosotros/Patricia.png);

    &:hover {
        background-image: url(../assets/img/Nosotros/Patricia2.png);
    }
}

.carloshover {
    background-image: url(../assets/img/Nosotros/Carlos.png);

    &:hover {
        background-image: url(../assets/img/Nosotros/Carlos2.png);
    }
}

/*----------------PELICULAS----------------*/

.infomovie {
    margin: 1rem;

    & h2 {
        margin: 2rem 0;
        text-align: center;
        font-size: 2.5rem;
    }

    & h3 {
        margin: 1rem 0;
    }

    & p {
        margin: 1rem;
        font-family: $fontkanit;
        font-weight: 400;
        text-align: justify;
    }
}

.sectiontbl {
    text-align: center;
    margin: 1rem;

    &__table {
        margin: auto;
        width: 80%;
        border-collapse: inherit;

        & tr {

            & th {
                background-color: #00679d;
            }

            & td {
                background-color: #333333;
                font-family: $fontkanit;
                font-weight: 400;
            }
        }
    }
}

.trailer {
    margin: 1rem 1rem 0 1rem;

    & h3 {
        margin: 1rem 0;
    }

    & h4 {
        margin: 2rem 0;
    }

    & div {
        text-align: center;
    }

    & iframe {
        margin-bottom: 2rem;
        width: 40%;
    }
}


/*----------------FOOTER----------------*/

footer {
    background-color: $azulhf;
    margin-top: 1rem;
}

.socialmedia {
    margin: 0.8rem;
    text-align: center;

    & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        & li {
            margin: 0 0.8em;
            display: inline-block;
            justify-items: center;
        }
    }

    &__li ul li {
        transition: 0.2s;
    }
}

.facebook,
.instagram,
.twitter,
a i {
    font-size: 20px;
    color: #ffffff;

    &:hover {
        color: $colorbtnin;
        transform: scale(1.1);
        transition: ease-in-out .1s;
    }
}

.contacto a,
.nosotros a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
}

.copyright {
    text-align: center;
    font-weight: 100;
    background-color: #042b40;
    padding: 1rem;
}

@import "../css/partials/responsive";