/*----------------MAIN----------------*/

main {
    background-color: $bgmain;
    overflow: hidden;
}




.parallax {

    @each $imgparallax in peliculas, series, estrenos {
        &#{$imgparallax} {
            background-image: url(../assets/img/Trend/parallax#{$imgparallax}.png);
            height: 65vh;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 50px 30px;
        }
    }

    &__div {
        position: absolute;
        top: 50%;
        left: 46%;

        & a {
            transition: .2s;
            color: #ffffffe7;
            text-decoration: none;
            padding: 10px;
            border: 0.2rem;
            border-style: solid;
            border-radius: 0.2rem;
        }

        & a:hover {
            background-color: #0097e938;
        }
    }
}

.btnvolver {
    background-image: url(../assets/img/btnup.png);
    background-size: 100%;
    background-color: #00669d6e;
    border-radius: 50%;
    left: 95%;
    top: 78%;
    position: fixed;
    z-index: 2;
    transition: 0.2s;

    &:hover {
        background-color: #0097e9be;
    }

    & a {
        padding: 25px;
        float: left;
    }
}

.seccion {
    text-align: center;

    & h2 {
        margin: 2rem 0;
    }

    &__article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__div {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 1.5rem;

            & a img {
                border-radius: 0.3rem;
                transition: transform .2s;
            }

            & a:hover img {
                transform: scale(1.2);
                filter: brightness(70%);
            }

            & a:hover span {
                display: block;
                color: aliceblue;
                background-color: #0e0e0ec2;
            }

            &--spanhover {
                display: none;
                position: absolute;
                left: 25%;
                bottom: 55%;
                padding: 0 1rem;
                border-style: solid;
                border-radius: 0.2rem;
                border-width: 2px;
            }

            & h3 {
                font-family: $fontkanit;
                font-size: 1rem;
            }
        }
    }
}