/*----------------CONTACTO----------------*/

.maincontact__iframe {

    & iframe {
        height: 550px;
        width: 94%;
        margin: map-get($generic , margin );
        border-radius: 10px;
    }

    & h2 {
        text-align: map-get($generic , text-align );
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    & p {
        @include font400;
        margin-bottom: 2rem;
        text-align: map-get($generic , text-align );

    }
}

