@import "./variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $fontkanit;
    font-weight: 600;
    font-size: 1.4rem;
    color: aliceblue;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: $bgmain;
}
