/*----------------HEADER----------------*/

header {
    position: relative;
    background-color: $azulhf;
}

.dpelicula {
    color: #ffffff;

    &:hover{
        color: #ffffff;
    }
    
    & h1 {
        position: absolute;
        left: 33px;
        bottom: 30px;
        font-size: 1rem;
        font-weight: 600;
    }

}

h2,
h3 {
    font-weight: 600;
    margin: 2rem;
}

.contspan {
    display: none;
    width: 54px;
}

.logo {
    margin: map-get($generic , margin);
}

.lognav {
    display: none;
}

//login PC
.btnlogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 5rem;

    &__title h6 {
        margin-top: .5rem;
        font-weight: 800;
    }

}

.nav-item a {
    color: aliceblue;
    margin: 0.5rem;
    text-decoration: none;
    transition: color 0.2s;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    &:hover {
        color: $colorbtnin;
        background-size: 100% 2px;
    }
}

.container-fluid {
    width: 100%;
}

.navbar-toggler {
    border: none;
}

.btn-outline-success {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0c679a;
    --bs-btn-hover-border-color: #0c679a;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00679d;
    --bs-btn-active-border-color: #00679d;
    --bs-btn-disabled-color: #00679d;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.nav-link:focus,
.nav-link:hover {
    color: #ffffff;
}

#logo {
    margin-right: 0;
}

.btn-primary {
    background-color: #0c679a;
    border-color: #ffffff;

    &:hover {
        background-color: $colorbtnin;
        border-color: none;
        --bs-btn-hover-border-color: none;
    }
}

.btn {
    --bs-btn-focus-box-shadow: none;
}