/*----------------NOSOTROS----------------*/

.nosotros {
    margin: map-get($generic , margin ) 0;

    &__seccion {
        @include font400;
        display: flex;
        width: 70%;
        margin: auto;
        align-items: center;

        & img {
            width: 50%;
        }

        &__historia {
            margin: 2rem;

            & h2 {
                text-align: map-get($generic , text-align );
            }

            & p {

                text-align: justify;
            }
        }
    }

    &__equipo {
        @include font400;
        text-align: map-get($generic , text-align );
        margin: 2rem 0;

        & p {
            width: 70%;
            margin: auto;
            text-align: justify;
        }

        & img{
            width: 50%;
        }

        & div img {
            width: 40%;
        }

        &__integrantes {
            display: flex;
            column-gap: 5rem;
            justify-content: center;

            &1,
            &2 {
                display: flex;
                column-gap: 5rem;

                & div div {
                    width: 165px;
                    height: 165px;
                    background-size: contain;
                }
            }
        }
    }
}

$integrantes: ( 

    "jorge":    Jorge,
    "antonia":  Antonia,
    "patricia": Patricia,
    "carlos":   Carlos
);

@each $nombre, $imagen in $integrantes{

    .#{$nombre}hover{

        background-image: url(../assets/img/Nosotros/#{$imagen}.png);

        &:hover {
            background-image: url(../assets/img/Nosotros/#{$imagen}2.png);
        }
    }

}




