/*----------------MEDIA QUERYS-----------*/

@media screen and (max-width: 1200px) {

    /*----------------HEADER MEDIA-----------*/

    .logo {
        grid-area: logo;
        margin-bottom: 0;
    }

    /*----------------NOSOTROS----------------*/
    .nosotros {

        .nosotros__seccion {
            width: 100%;
            align-items: center;
        }

        &__equipo__integrantes {
            flex-direction: column;
            align-items: center;
        }
    }

    .btn-outline-success {
        display: none;
    }
}

/*----------------MEDIA 991----------------*/

@media screen and (max-width: 991px) {

    /*----------------HEADER----------------*/
    .navbar {

        &-nav li {
            border-bottom: 1px solid white;
        }

        &-nav .lineout {
            border-bottom: none;
        }
    }

    .dpelicula{
        display:none;
    }
    #logo{
        background-image: url(/assets/img/logo_dpelicula.png);
        background-repeat: no-repeat;
        width: 112px;
        height: 112px;
    }

    #logo img {
        display: none;
    }
    .parallax {

        &peliculas {
            height: 45vh;
            background-attachment: inherit;
        }

        &series {
            height: 45vh;
            background-attachment: inherit;
        }

        &estrenos {
            height: 45vh;
            background-attachment: inherit;
        }

        &__div {
            display: none;
        }
    }
    
    .login--button {
        display: flex;
        justify-content: center;
    }

    .btn-outline-success {
        display: block;
    }

    .btnvolver {
        left: 90%;
    }

    .lognav {
        display: block;
    }

    .btnlog {
        display: none;
    }

    .contspan {
        display: block;
    }

    .secciongridart__seccion2 {

        display: grid;
        grid-template-areas:
            "seccion1"
            "seccion2"
            "seccion3"
            "seccion4";
        gap: 10px;
    }

    .seccion__article {

        & .owl-nav {
            display: none;
        }

        &__div a:hover span {
            display: none;
        }

        &__div a:hover img {
            transform: none;
        }
    }

    .input-group {
        margin: 1rem 0;
    }

}



/*-----------------------MEDIA TABLET QUERY-------------------------*/

@media screen and (max-width: 768px) {

    /*----------------HEADER MEDIA TABLET-----------*/

    .logo {
        grid-area: logo;
        margin-bottom: 1rem;

        & img {
            display: block;
            margin: auto;
        }
    }

    /*----------------MAIN MEDIA TABLET-----------*/

    .parallax__div {
        display: none;
    }

    /*----------------PELICULA MEDIA TABLET-----------*/
    .trailer iframe {
        margin-bottom: 2rem;
        width: 100%;
    }

    /*----------------NOTICIAS MEDIA TABLET-----------*/

    .secciongridart__seccion__div2-1 iframe {
        display: block;
        margin: auto;
        width: 100%;
    }

    /*----------------NOTICIAS MEDIA TABLET-----------*/

    .secciongridart__seccion2 {

        display: grid;
        grid-template-areas:
            "seccion1"
            "seccion2"
            "seccion3"
            "seccion4";
        gap: 10px;
    }

    /*----------------FOOTER MEDIA TABLET----------------*/

    .socialmedia {
        & ul {
            flex-direction: column;
            row-gap: 10px;
        }

        &__li ul {
            flex-direction: row;
            justify-content: center;
        }
    }

    .contacto a .nosotros a {
        padding: 0 10px;
        text-align: map-get($generic , text-align );
    }
}

/*-----------------------MEDIA CEL QUERY-------------------------*/

@media screen and (max-width: 480px) {

    /*----------------MAIN MEDIA CEL----------------*/
    .parallax {

        &peliculas {
            height: 30vh;
            background-attachment: inherit;
        }

        &series {
            height: 30vh;
            background-attachment: inherit;
        }

        &estrenos {
            height: 30vh;
            background-attachment: inherit;
        }

        &__div {
            position: absolute;
            top: 40%;
            left: 30%;

            & a {
                color: #ffffff;
                background-color: #282828b6;
            }
        }
    }

    .seccion__article__div a:hover span {
        display: none;
    }

    /*----------------PELICULAS MEDIA CEL----------------*/

    .sectiontbl__table {
        width: 100%;
    }

    /*----------------ARTISTAS MEDIA CEL----------------*/

    .secciongridart {

        & h2 {
            display: block;
            margin: auto;
        }

        &__seccion__div1,
        &__seccion__div2 {
            margin: map-get($generic , margin );
            border-style: solid;
            border-color: $bgmain;
            border-radius: 20px;
            background-color: #ffffff0a;

            & h3 {
                text-align: map-get($generic , text-align );
                margin: 0 1rem;
            }
        }


        &__seccion__div__imp1,
        &__seccion__div__imp2 {
            display: flex;
            flex-direction: column;

            & img {
                margin: auto;
            }
        }
    }

    /*------------NOTICIAS SEMANALES MEDIA CEL----------*/

    .parallax__div2 {
        height: 30vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 30px;

        & h3 {
            font-size: 1rem;
        }
    }

    /*----------------NOSOTROS MEDIA CEL----------------*/

    .nosotros__seccion {
        flex-direction: column;

        & img {
            width: 80%;
        }
    }

    .nosotros__equipo__integrantes {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        &1,
        &2 {
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
        }
    }

    /*----------------FOOTER MEDIA CEL----------------*/

    .socialmedia {

        & ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__li ul {
            flex-direction: row;
            justify-content: center;
        }
    }
}